html, #root, .App {
  height:100%;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  box-shadow: 0px 0px 8px -1px #FFFFFF;
}

.navBar {
  width: 50%;
  border-radius: 15px;
  background-color: rgb(239, 180, 180);
  
}

.navBar a {
  background-color: rgb(239, 180, 180);
  border-radius: 10px;
  color: #ffffff;
  font-size: large;
}

.navBar a:hover {
  font-size: 120%;
}

.navBar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin: 5px;
  justify-content: space-around;
  list-style-type: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nameTag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 20px;
}

.nameTag h1, h2 {
  background-color: rgb(239, 180, 180);
  color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
}